@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heroButton {
        @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all hover:border-[#AB0AF7]/40 hover:text-[#AB0AF7]/40
    }

    .contactInput {
        @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-[#AB0AF7]/40 focus:text-[#AB0AF7]/40 
        hover:border-[#AB0AF7]/40 
    }
}