@keyframes rainbow {
    0% {
      color: #ff0000;
    }
    16.67% {
      color: #ff7f00;
    }
    33.33% {
      color: #ffff00;
    }
    50% {
      color: #00ff00;
    }
    66.67% {
      color: #0000ff;
    }
    83.33% {
      color: #4b0082;
    }
    100% {
      color: #9400d3;
    }
  }
  
  .rainbow-fonts {
    animation: rainbow 2s infinite;
  }
  